<div class="row">
  {{!-- Show an individual story, seperated in 2 columns author info and story details --}}
  <div class="col s12 m8">
    <h3>{{story.title}}
      <small>{{{editIcon story.user.id user.id story.id false}}}</small>
    </h3>
    <div class="card story">
      <div class="card-content">
        <span class="card-title">{{formatDate story.date 'MMMM Do YYYY'}}</span>
        {{#markdown}}{{story.body}}{{/markdown}}
      </div>
    </div>

    {{#if story.allowComments}}
    <div class="card">
      <div class="card-content">
        <span class="card-title">Comments</span>
        {{#if user}}
        <form action="/storybooks/stories/comment/{{story.id}}" method="POST">
          <div class="input-field">
            <textarea name="commentBody" class="materialize-textarea"></textarea>
            <label> Add Comment </label>
          </div>
          <input type="submit" value="Submit" class="btn">
        </form>
        {{else}}
        <p>Please <a href="/storybooks/auth/google">login</a> to leave a comment</p>
        {{/if}}
      </div>
    </div>
    {{#each story.comments}}
    <div class="card">
      <div class="card-content">
        <h5>{{commentBody}}</h5>
        <a href="/storybooks/stories/user/{{commentUser.id}}">
        <div class="chip">
          <img src="{{commentUser.image}}" alt="Author Image">
          {{commentUser.firstName}} {{commentUser.lastName}}
        </div>
        </a>
        <br>
        <small>Posted: {{formatDate commentDate 'MMMM Do YYYY'}}</small>
      </div>
    </div>
    {{/each}}

    {{else}}
    <div class="card">
      <div class="card-content">
        <span class="card-title">Comments Are Disabled For This Story</span>
      </div>
    </div>
    {{/if}}
  </div>
  <div class="col s12 m4">
    <div class="card center-align">
      <div class="card-content">
        <span class="card-title">{{story.user.firstName}} {{story.user.lastName}}</span>
        <img src="{{story.user.image}}" alt="Author Image" class="circle responsive-img">
      </div>
      <div class="card-action">
        <a href="/storybooks/stories/user/{{story.user.id}}">More From {{story.user.firstName}}</a>
      </div>
    </div>
  </div>
</div>